body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background {
    background-color: #f2f2f2;
    width: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.content {
    background-color: white;
    max-width: 1800px;
    width: 80%;
    box-shadow: 0px 0px 5px #CCC;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    z-index: 1;
}

.content-tile {
    display: grid;
    grid-template-columns: 50%  50%;
    margin: 40px auto;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 10px;
    padding: 24px;
}

p {
    text-align: justify;
}

button:hover {
    cursor: pointer;
}

.action {
    background-color: #b01b1b;
    color: white;
    padding: 12px 24px; 
    border-radius: 8px;
    border: 0;
    font-size: 20px;
}

.setup-button {
    padding: 20px;
    margin: 0 8px;
    background-color: white;
    border: 1px solid #e48d81;
    color: #e48d81;
    border-radius: 8px;
    font-size: 20px;
}

.setup-button.selected {
    background-color: #e48d81;
    color: black;
}

.setting-label {
    background-color: #e5e5e5;
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    display: flex;
    justify-content: center;
}

.setup-date-picker {
    width: 100%;
}

.rc-slider-track{
    background-color: #e48d81;
}

.rc-slider-handle, .rc-slider-handle:hover, .rc-slider-handle:active, .rc-slider-handle:focus {
    border: 2px solid #e48d81;
}

.rc-slider-handle:active {
    box-shadow: 0 0 5px #e48d81;
}

.slider-label {
    color: #e48d81;
    border-radius: 8px;
    border: 1px solid #e48d81;
    width: 30%;
    font-size: 20px;
    display: inline-grid;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

.slider-container div {
    padding: 0 !important;
}

.mantine-DatePicker-wrapper {
    height: 100%;
}

.mantine-DatePicker-input {
    height: 100%;
    border: 1px solid #e48d81;
    border-radius: 8px;
    color: #e48d81;
    text-align: center;
    font-size: 16px;
}

.upload-container button {
    padding: 8px;
    background-color: #b01b1b;
    border: 0;
    color: white;
    border-radius: 8px;
}

.upload-container span {
    margin-left: 12px;
}

.Select-control {
    color: #e48d81;
    border: 1px solid #e48d81;
    padding: 12px 0;
}

.Select-value {
    display: inline-flex;
    align-items: center;
}

.Select-value-label {
    color: #e48d81 !important;
}