# ignores files of these types
**.iml
**.png
**.csv
**.pyc
**.mat
**.dss
**.txt
**.xlsx
**.xml
**.glm
**.xls
**.npy
**.Identifier
BatteryData
CP_ProjectData
Datasets-CP
Datasets
env
ev50
**.dummy2.player
test_cases
test_cases/**.txt/
test_cases/**.csv/
mosek
.idea
