# ignores files of these types
**.csv
**.pyc
**.mat
**.dss
**.txt
**.xlsx
**.xml
**.glm
**.xls
**.npy
**.png
**.Identifier
BatteryData
CP_ProjectData
Datasets-CP
Datasets
env
ev50
**.player
test_cases/**.txt/
test_cases/**.csv/